[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
pipfile = "*"
fire = "*"

[dev-packages]
python-dotenv = "*"
tqdm = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
